<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="main--container" layout:fragment="content">
    <!-- Page Header Start -->
    <section class="page--header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Page Title Start -->
                    <h2 class="page--title h5">Form Wizard</h2>
                    <!-- Page Title End -->

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item"><span>Form</span></li>
                        <li class="breadcrumb-item active"><span>Form Wizard</span></li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <!-- Summary Widget Start -->
                    <div class="summary--widget">
                        <div class="summary--item">
                            <p class="summary--chart" data-trigger="sparkline" data-type="bar" data-width="5" data-height="38" data-color="#009378">2,9,7,9,11,9,7,5,7,7,9,11</p>

                            <p class="summary--title">This Month</p>
                            <p class="summary--stats text-green">2,371,527</p>
                        </div>

                        <div class="summary--item">
                            <p class="summary--chart" data-trigger="sparkline" data-type="bar" data-width="5" data-height="38" data-color="#e16123">2,3,7,7,9,11,9,7,9,11,9,7</p>

                            <p class="summary--title">Last Month</p>
                            <p class="summary--stats text-orange">2,527,371</p>
                        </div>
                    </div>
                    <!-- Summary Widget End -->
                </div>
            </div>
        </div>
        <div th:if="${message != null}"
             class="alert alert-success" th:text="${message}"></div>
    </section>
    <!-- Page Header End -->

    <!-- Main Content Start -->
    <section class="main--content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Add Account</h3>
            </div>

            <div class="panel-content">
                <!-- Form Wizard Start -->
                <form role="form" th:object="${user}" th:action="@{/admin/user/doadd}"
                      enctype="multipart/form-data" method="post" id="formWizard" class="form--wizard">
                    <h3>Identification</h3>
                    <section>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        <span class="label-text">Full Name: *</span>
                                        <input th:field="*{fullName}" type="text" name="fullname" placeholder="Jr." class="form-control" required>
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <span class="label-text">Email: *</span>
                                        <input th:field="*{email}" type="email" name="email" class="form-control" required>
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <span class="label-text">Phone:</span>
                                        <input th:field="*{phone}" type="tel" name="phone" class="form-control">
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <span class="label-text">Address: *</span>
                                        <input th:field="*{address}" type="text" name="address" class="form-control" required>
                                    </label>
                                </div>
                            </div>
                            <!-- Form Group Start -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        <span class="label-text">File Input</span>
                                        <label class="custom-file">

                                            <input type="file" name="file" class="custom-file-input" id="customFile">
                                            <span class="custom-file-label">Choose File</span>
                                        </label>
                                    </label>

                                </div>
                            </div>
                            <!-- Form Group End -->
                        </div>
                    </section>

                    <h3>Login Info</h3>
                    <section>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <span class="label-text">Username: *</span>
                                        <input th:field="*{username}" type="text" name="username" class="form-control" required>
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <span class="label-text">Password: *</span>
                                        <input th:field="*{password}" type="password" name="password" id="password" class="form-control" required>
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <span class="label-text">Confirm Password: *</span>
                                        <input type="password" name="cpassword" class="form-control" required>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </section>

                    <h3>Completed</h3>
                    <section>
                        <div class="jumbotron text-center">
                            <h2 class="h1 fw--600 text-dark mb-2">Successfull</h2>

                            <button type="submit" class="btn btn-rounded btn-info">Add Account</button>
                        </div>
                    </section>
                </form>
                <!-- Form Wizard End -->
            </div>
        </div>
    </section>
    <!-- Main Content End -->
</main>
</body>
</html>